.nomina-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  .activar {
    margin-right: 0px;
  }


 .mat-table {
    display: block;
    font-family: Tahoma, Verdana;
  }
  
  .mat-label {
    display: block;
    font-family: Tahoma, Verdana;
  }
  .mat-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }
  
  .mat-cell,
  .mat-header-cell {
    //flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
  }

  .mat-content-center {
    margin: auto;
    width: 100%;
  }
  .mat-button-center {
    margin: auto;
    width: 50%;
  }
  

  th, td {
     width: 100px;
      }
  table {
    width: 100%;
  }