<div>

    <form [formGroup]="conceptoForm">
        <div>


            <div class="mat-header-row">
                <div class="mat-header-cell">Datos básicos de Conceptos de Nomina</div>
            </div>

            <div class="mat-table">


                <div class="mat-header-row">
    
                    <div class="mat-cell">
                   
                        <mat-form-field>
                            <mat-select formControlName="clase" matInput placeholder="Clase de Nomina" required>
                                <ng-container *ngFor="let clase of clases">
                                    <mat-option [value]="clase.id">{{ clase.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                    </div>
                    
                    <div class="mat-cell">
                   
                        <mat-form-field>
                            <mat-select formControlName="concept" matInput placeholder="Concepto" required>
                                <ng-container *ngFor="let concept of concepts">
                                    <mat-option [value]="concept.id">{{ concept.description }}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>


                    </div>
                </div>


                <div class="mat-header-row">
                    <div class="mat-cell">
                        <mat-label>Estado:&nbsp;</mat-label>
                        <mat-radio-group aria-label="Estado" formControlName="active">
                          <ng-container *ngFor="let state of estados">
                            <mat-radio-button value="{{ state.code }}">&nbsp;{{ state.description }}&nbsp;</mat-radio-button>
                          </ng-container>
                        </mat-radio-group> 

                    </div>
                   
                </div>

            
         

            </div>
            
            <div class="mat-button-center">
                <button   color="primary" (click)="add()">Ingresar</button>
              </div>

        </div>
    </form>

</div>