.app-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  .left-toolbar {
    align-content: l;
  }
  
 
.home-spacer {
  flex: 1 1 auto;
}

footer {
 
  display: flex;
  justify-content: center;
}