<p>
</p> 





<div class="nomina-container">
    
          

      <form [formGroup]="searchForm">
        <div>


            <div class="mat-header-row">
                <div class="mat-header-cell">Buscar Incapacidades de Empleado</div>
            </div>

            <div class="mat-table">

                <div class="mat-header-row">

                <div class="mat-cell">
                    <mat-form-field>
                      <mat-select formControlName="clase" matInput placeholder="Clase de Nomina" required   (selectionChange)="select($event.value)"   >
                          <ng-container *ngFor="let clase of clases">
                              <mat-option [value]="clase.id">{{ clase.description }}</mat-option>
                          </ng-container>
                      </mat-select>
                  </mat-form-field>
                    </div>


                <div class="mat-cell">
                        <mat-form-field>
                            <input formControlName="document"  value="0" matInput placeholder="Documento"
                            (blur)="clean()" />
                        </mat-form-field>

                 </div>

                 <div class="mat-cell" >
                  <mat-form-field>
                  <mat-select
                  formControlName="state"
                  matInput
                  placeholder="Estado Incapacidad"
                  required
                  >
                  <ng-container *ngFor="let estadoIncapacidad of estadosIncapacidad">
                    <mat-option [value]="estadoIncapacidad.code">{{ estadoIncapacidad.description }}</mat-option>
                  </ng-container>
                </mat-select>
                  </mat-form-field>
                  
                </div>

                <div class="mat-cell">

                  <div class="mat-button-center">

                    
                  </div>
                </div>

              </div>
              
              <div class="mat-header-row">


                <div class="mat-cell">
                
                  <button   mat-raised-button color="primary" (click)="find()">Consultar</button>

              </div>

            </div>
            </div>

               

          </div>

              
    </form>


<p></p>


<div>
<mat-progress-bar mode="indeterminate" value="10" *ngIf="loadImage == true"></mat-progress-bar>
<P></P>
</div>

  
<div class="mat-header-row"  *ngIf="dataSource.data.length == 0">
  <div class="mat-header-cell">No existen registros</div>
</div>
<div class="mat-header-row"  *ngIf="dataSource.data.length > 0 && searchForm.get('state').value=='S'">
  <button   mat-raised-button color="primary" (click)="changeState('A')">
      Aprobar
  </button>   
  <button   mat-raised-button color="primary" (click)="changeState('R')">
    Rechazar
</button>   
</div>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.data.length > 0" >


      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>



      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element">{{ element.person.typeDocument }} - {{ element.person.document }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.person.firstName}}  </td>
      </ng-container>

      
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.person.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef>Periodo</th>
        <td mat-cell *matCellDef="let element">{{ element.incapacidad.registerPeriod }}</td>
      </ng-container>
  
      
      <ng-container matColumnDef="initDate">
        <th mat-header-cell *matHeaderCellDef>Inicio de Incapacidad</th>
        <td mat-cell *matCellDef="let element">{{ element.incapacidad.initDate | date: 'dd-MM-yyyy' }}</td>
      </ng-container>
    
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Fin de Incapacidad</th>
        <td mat-cell *matCellDef="let element">{{ element.incapacidad.endDate| date: 'dd-MM-yyyy'}}</td>
      </ng-container>
     
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.incapacidad.state | estadoLicencia }}</td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  

  </div>
  