<!-- <p>menu works!</p> -->
<div>
    <mat-nav-list>
      <button mat-button [matMenuTriggerFor]="menu">Administración</button>
      <mat-menu #menu="matMenu"   >
        <button mat-menu-item routerLink="employees" >Empleado</button>
        <button mat-menu-item routerLink="classPayRolls">Clase de Nomina</button>
        <button mat-menu-item routerLink="periods">Periodos</button>
        <button mat-menu-item routerLink="conceptsPayRoll">Conceptos</button>
      </mat-menu>
      
      <!--button mat-button [matMenuTriggerFor]="menu2"> Administración Nomina</button>
      <mat-menu #menu2="matMenu"   >
        <button mat-menu-item routerLink="payroll" >Nomina</button>
      </mat-menu-->

      <mat-list-item routerLink="payroll">Nomina</mat-list-item>

      <mat-list-item routerLink="reports">Reportes</mat-list-item>

    </mat-nav-list>
  </div>

  
