<div class="nomina-container">
<p></p>
<div class="mat-header-row">
     <div class="mat-header-cell">Carga Masiva de Empleados a través de archivo CSV</div>
 </div>
<p></p>
       
<p></p>
<div class="mat-button-center">

        <form [formGroup]="form" novalidate>

            <mat-form-field>
                <ngx-mat-file-input formControlName="file1"
                 placeholder="Archivo CSV" [accept]="'.csv'"
                
                 (change)="csvInputChange($event)"
                 ></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
            
            </form>

    </div>
</div>   