<mat-card class="create-client-card">
    <div class="form-container">
      <mat-horizontal-stepper>
        <mat-step [stepControl]="personForm">
          <form [formGroup]="personForm">
            <ng-template matStepLabel>Información básica</ng-template>
            <div>

              
              <div class="mat-table">
                <div class="mat-row">
                  <div class="mat-cell">
                    <mat-form-field>
                      <mat-select
                      formControlName="documentType"
                      matInput
                      placeholder="Tipo documento"
                      required
                      >
                      <ng-container *ngFor="let documentType of documentTypes">
                        <mat-option [value]="documentType.code">{{ documentType.description }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>

                  </div>
                  <div class="mat-cell">
                    
                    <mat-form-field>
                      <input formControlName="document" matInput placeholder="Documento" required />
                  </mat-form-field>
                 </div>
                </div>
              </div>


              <div class="mat-table">
                <div class="mat-row">
                  
                  <div class="mat-cell">
                    <mat-form-field id="firstName">
                      <input formControlName="firstName" matInput placeholder="Nombre" required />
                    </mat-form-field>
                  </div>
                  <div class="mat-cell">
                    <mat-form-field id="lastName">
                      <input formControlName="lastName" matInput placeholder="Apellido" required />
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="mat-table">
                <div class="mat-row">
                  
                  <div class="mat-cell">
                    <mat-form-field>
                      <mat-select
                      formControlName="civilState"
                      matInput
                      placeholder="Estado Cívil"
                      required
                      >
                      <ng-container *ngFor="let civilState of civilStates">
                        <mat-option [value]="civilState.code">{{ civilState.description }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>

                  </div>
                  <div class="mat-cell">
                    <mat-form-field id="address">
                      <input formControlName="address" matInput placeholder="direccion" />
                    </mat-form-field>
      
                  </div>

                </div>
              </div>


              <div class="mat-table">
                <div class="mat-row">
                
                  <div class="mat-cell">
          
                   
                    <mat-form-field>
                      <mat-select
                      formControlName="country"
                      matInput
                      placeholder="Pais de Residencia"
                      required
                      >
                      <ng-container *ngFor="let country of countries">
                        <mat-option [value]="country.code">{{ country.description }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                   
                   
                 
  
                  </div>
                  <div class="mat-cell">
                   
 
                    <mat-form-field>
                      <mat-select
                      formControlName="departament"
                      matInput
                      placeholder="Departamento de Residencia"
                      required
                      >
                      <ng-container *ngFor="let department of departments">
                        <mat-option [value]="department.code">{{ department.description }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                   

       
                  </div>
                  <div class="mat-cell">
               
                  
       

                    <mat-form-field>
                      <mat-select
                      formControlName="municipality"
                      matInput
                      placeholder="Municipio de Residencia"
                      required
                      >
                      <ng-container *ngFor="let municipio of municipalities">
                        <mat-option [value]="municipio.code">{{ municipio.description }}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                   

                  </div>

                </div>
              </div>

              <div class="mat-table">
                <div class="mat-row">
                 
                  <div class="mat-cell">
                   
                    <mat-form-field id="email">
                      <input formControlName="email" matInput placeholder="email" required  />
                    </mat-form-field>
        
                  </div>
                  <div class="mat-cell">
               
                  <mat-form-field id="phone">
                    <input formControlName="phone" matInput placeholder="télefono" />
                  </mat-form-field>

                  </div>
                </div>
              </div>
            
  
              <div class="mat-button-center">
                <button matStepperNext mat-stroked-button color="primary">Información Empleado</button>
              </div>
  
              
          
            </div>
          </form>
        </mat-step>
  
        <mat-step [stepControl]="employeeForm" optional>
          <form [formGroup]="employeeForm">
            <ng-template matStepLabel>Información Empleado</ng-template>
         

            <div class="mat-table">
              <div class="mat-row">
                <div class="mat-cell">
                  
                  <mat-form-field>
                    <input formControlName="salary" type="number" matInput placeholder="Salario" required />
                  </mat-form-field>


                </div>

                <div class="mat-cell">
                 
                 <mat-form-field>
               
                    <mat-select
                    formControlName="salaryType"
                    matInput
                    placeholder="Tipo Salario"
                    required
                    >
                    <ng-container *ngFor="let salaryType of salaryTypes">
                      <mat-option [value]="salaryType.code">{{ salaryType.description }}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>

                </div>

              </div>

              <div class="mat-row">
                <div class="mat-cell">
                  <mat-form-field>
                    <input matInput [matDatepicker]="initDate" placeholder="Fecha Inicial Contrato" formControlName="initDateContract" />
                    <mat-datepicker-toggle matSuffix [for]="initDate"></mat-datepicker-toggle>
                    <mat-datepicker #initDate></mat-datepicker>
                  </mat-form-field>


                </div>
                <div class="mat-cell">
                  
                  <mat-form-field>
                    <input matInput [matDatepicker]="endDate" placeholder="Fecha Final" formControlName="endDateContract" />
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>

                </div>
               
              </div>



             <div class="mat-row">
              <div class="mat-cell">
             
                <mat-form-field >
                  <mat-select
                  formControlName="costCenter"
                  matInput
                  placeholder="Centro de Costos"
                  required
                  >
                  <ng-container *ngFor="let centroCosto of centrosCostos">
                    <mat-option [value]="centroCosto.id">{{ centroCosto.description }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              </div>
              <div class="mat-cell">
               
                <mat-form-field>
                  <mat-select
                  formControlName="classPayRoll"
                  matInput
                  placeholder="Clase de Nomina"
                  required>
                  <ng-container *ngFor="let classPayRoll of classPayRolls">
                    <mat-option [value]="classPayRoll.id">{{ classPayRoll.description }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              </div>
            </div>

          
            </div>


            <mat-label>Información del lugar de trabajo</mat-label>


            <div class="mat-table">

              <div class="mat-row">
                <div class="mat-cell">
                 <mat-form-field >
                   <mat-select
                   formControlName="department"
                   matInput
                   placeholder="Departamento"
                   required
                   >
                   <ng-container *ngFor="let sucursal of sucursales">
                     <mat-option [value]="sucursal.id">{{ sucursal.description }}</mat-option>
                   </ng-container>
                 </mat-select>
               </mat-form-field>
  
               </div>
               <div class="mat-cell">
               
                <mat-form-field >
                  <mat-select
                  formControlName="branchOffice"
                  matInput
                  placeholder="Sucursal"
                  required
                  >
                  <ng-container *ngFor="let sucursal of sucursales">
                    <mat-option [value]="sucursal.id">{{ sucursal.description }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              </div>
             </div>
  

              <div class="mat-row">
                <div class="mat-cell">
              
              
                  <mat-form-field >
                    <mat-select
                    formControlName="unity"
                    matInput
                    placeholder="Unidad"
                    required
                    >
                    <ng-container *ngFor="let area of areas">
                      <mat-option [value]="area.id">{{ area.description }}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              
              
                 
               </div>
               <div class="mat-cell">
               
                 <mat-form-field >
                   <mat-select
                   formControlName="area"
                   matInput
                   placeholder="Área"
                   required
                   >
                   <ng-container *ngFor="let area of areas">
                     <mat-option [value]="area.id">{{ area.description }}</mat-option>
                   </ng-container>
                 </mat-select>
               </mat-form-field>


               </div>
             </div>


            </div>
           


            <div class="mat-table">
              <div class="mat-row">
           
                <div class="mat-cell">
                  <mat-label>Subsidio:&nbsp;</mat-label>
                  <mat-radio-group aria-label="Estado" formControlName="transporteSubsidy">
                    <ng-container *ngFor="let sino of sinos">
                      <mat-radio-button value="{{ sino.code }}">&nbsp;{{ sino.description }}&nbsp;</mat-radio-button>
                    </ng-container>
                  </mat-radio-group>    
                </div>

                <div class="mat-cell">
                  <mat-label>Estado:&nbsp;</mat-label>
                  <mat-radio-group aria-label="Estado" formControlName="active">
                    <ng-container *ngFor="let state of estados">
                      <mat-radio-button value="{{ state.code }}">&nbsp;{{ state.description }}&nbsp;</mat-radio-button>
                    </ng-container>
                  </mat-radio-group>    
                </div>
              </div>
            </div>

            <div class="mat-button-center">
              <button  mat-stroked-button color="primary" (click)="add()">Ingresar Empleado</button>
            </div>
          
          </form>
        </mat-step>
  
        <mat-step [stepControl]="imageForm" optional>
          <form [formGroup]="imageForm">
            <ng-template matStepLabel>Administrar Imagen Empleado</ng-template>     
           
           <div class="mat-button-center">

            <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="imageInputChange($event)" accept=".png"/>
            <button  mat-flat-button color="primary"  (click)="imageInput.click()">Escoja la imagen a cargar</button>
            </div>


          </form>
        </mat-step>
     
      </mat-horizontal-stepper>
    </div>
  </mat-card>
  