.mat-table {
    display: block;
    font-family: Tahoma, Verdana;
  }
  
  .mat-row,
  .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style:none;
    align-items: center;
    min-height: 48px;
    padding: 0 24px;
  }
  
  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
  .mat-button-center {
    margin: auto;
    width: 50%;
  }
  


  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgb(218, 144, 144);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: rgb(111, 212, 111);
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 1px solid black;
    padding: 4px;
    font-weight: lighter;
    margin: 8px 0;
    height: 50px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }